post_patch_uboot() {
	if [[ "${BOARD}" == "geekbox" ]]; then
		display_alert "Modifying U-Boot Makefile to prevent u-boot.its error" "post_patch_uboot" "info"
		# Specifically target the U_BOOT_ITS rule to avoid touching other parts
		awk '/U_BOOT_ITS := u-boot.its/ { if(c==0) { print " "; c++ } } 1' Makefile > Makefile.tmp && mv Makefile.tmp Makefile
		sed -i 's/\t$(call if_changed,copy)/\t@if [ -n "$<" ]; then cp $< $@; else touch $@; fi/g' Makefile
	fi
}
